.image-list {
  display: grid;
  /* 1fr means every column we create will be of equal size, and its maximum allocation of space 250px is the minimum */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0px 3px;
  justify-items: center;
}

.image-list img {
  width: 266px;
}

.wrapper-imagecard {
  display: contents;
}
